@import '../../../Common/eagle-theme.scss';

#benefits-container {
  background-color: lighten($neutral-dark-brown, 15%);
  display: flex;
  flex-direction: column;
  align-items: center;
  #benefits{
    display: flex;
    margin-top: 2rem;
    .benefit {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 2rem;
      header {
        margin-top: 1rem;
      }
      div.content-text {
        text-align: center;
      }
      padding: 1rem;
      img {
        width: 7rem;
        height: 7rem;
        border-radius: 50%;
      }
    }
  }
}